In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
%%time
data = pd.read_csv('purchases.csv', parse_dates=['transaction_datetime'])

Wall time: 1min 39s

In [4]:
%time clients = pd.read_csv('clients.csv')

Wall time: 614 ms

In [5]:
%%time
products = pd.read_csv('products.csv')

Wall time: 97.9 ms

In [5]:
%time data.isnull().sum()

Wall time: 9.11 s

client_id                         0
transaction_id                    0
transaction_datetime              0
regular_points_received           0
express_points_received           0
regular_points_spent              0
express_points_spent              0
purchase_sum                      0
store_id                          0
product_id                        0
product_quantity                  0
trn_sum_from_iss                  0
trn_sum_from_red           42743212
dtype: int64

In [6]:
data.head()

,client_id,transaction_id,transaction_datetime,regular_points_received,express_points_received,regular_points_spent,express_points_spent,purchase_sum,store_id,product_id,product_quantity,trn_sum_from_iss,trn_sum_from_red
0,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,9a80204f78,2.0,80.0,NaN
1,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,da89ebd374,1.0,65.0,NaN
2,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,0a95e1151d,1.0,24.0,NaN
3,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,4055b15e4a,2.0,50.0,NaN
4,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,a685f1916b,1.0,22.0,NaN

In [8]:
clients.head()

    client_id     first_issue_date    first_redeem_date  age gender
0  000012768d  2017-08-05 15:40:48  2018-01-04 19:30:07   45      U
1  000036f903  2017-04-10 13:54:23  2017-04-23 12:37:56   72      F
2  000048b7a6  2018-12-15 13:33:11                  NaN   68      F
3  000073194a  2017-05-23 12:56:14  2017-11-24 11:18:01   60      F
4  00007c7133  2017-05-22 16:17:08  2018-12-31 17:17:33   67      U

In [9]:
products.head()

,product_id,level_1,level_2,level_3,level_4,segment_id,brand_id,vendor_id,netto,is_own_trademark,is_alcohol
0,0003020d3c,c3d3a8e8c6,c2a3ea8d5e,b7cda0ec0c,6376f2a852,123.0,394a54a7c1,9eaff48661,0.400,0,0
1,0003870676,e344ab2e71,52f13dac0c,d3cfe81323,6dc544533f,105.0,acd3dd483f,10486c3cf0,0.680,0,0
2,0003ceaf69,c3d3a8e8c6,f2333c90fb,419bc5b424,f6148afbc0,271.0,f597581079,764e660dda,0.500,0,0
3,000701e093,ec62ce61e3,4202626fcb,88a515c084,48cf3d488f,172.0,54a90fe769,03c2d70bad,0.112,0,0
4,0007149564,e344ab2e71,52f13dac0c,d3cfe81323,6dc544533f,105.0,63417fe1f3,f329130198,0.600,0,0

In [11]:
%time stores_per_client = data.groupby('client_id', as_index=True).store_id.nunique()

Wall time: 52.2 s

In [175]:
stores_per_client.head() # количество посещаемых магазинов

client_id
000012768d    3
000036f903    5
000048b7a6    2
000073194a    1
00007c7133    2
Name: store_id, dtype: int64

In [13]:
store_per_client = data.groupby('client_id', as_index=True)

In [14]:
%time store_per_client = store_per_client.agg({'store_id': lambda x: x.mode()})

Wall time: 1min 26s

In [176]:
store_per_client.head() # самый посещаемый магазин

              store_id
client_id
000012768d  017c89b915
000036f903  6381a55c22
000048b7a6  1a01e2a7d8
000073194a  9e8fcd116d
00007c7133  01ec6c98d7

In [16]:
%time transactions_per_client = data.groupby('client_id', as_index=True).transaction_id.nunique()

Wall time: 1min 9s

In [26]:
transactions_per_client # транзакций на клиента

client_id
000012768d     4
000036f903    32
000048b7a6     8
000073194a    17
00007c7133    11
              ..
fffece623e    24
ffff3dfff8    17
ffffaab9da     7
ffffeb5619     7
fffff6ce77    32
Name: transaction_id, Length: 400162, dtype: int64

In [27]:
data.head(10)

,client_id,transaction_id,transaction_datetime,regular_points_received,express_points_received,regular_points_spent,express_points_spent,purchase_sum,store_id,product_id,product_quantity,trn_sum_from_iss,trn_sum_from_red
0,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,9a80204f78,2.0,80.0,NaN
1,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,da89ebd374,1.0,65.0,NaN
2,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,0a95e1151d,1.0,24.0,NaN
3,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,4055b15e4a,2.0,50.0,NaN
4,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,a685f1916b,1.0,22.0,NaN
5,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,21db5dbe53,1.0,34.0,NaN
6,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,1e208d0b4c,1.0,24.0,NaN
7,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,15ccaa8685,1.0,51.0,NaN
8,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,45389bb5b0,1.0,23.0,NaN
9,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,cb4c804130,1.0,60.0,NaN

### Вот это значимая фича, сумма заработанных и потраченных баллов

In [160]:
%%time
groupedby_client_data = data.groupby('client_id', as_index=False)
sum_regular_points_received = groupedby_client_data['regular_points_received'].sum() \
    .rename(columns={'regular_points_received': 'sum_regular_points_received'})
sum_express_points_received = groupedby_client_data['express_points_received'].sum() \
    .rename(columns={'express_points_received': 'sum_express_points_received'})
sum_regular_points_spent = groupedby_client_data['regular_points_spent'].sum() \
    .rename(columns={'regular_points_spent': 'sum_regular_points_spent'})
sum_express_points_spent = groupedby_client_data['express_points_spent'].sum() \
    .rename(columns={'express_points_spent': 'sum_express_points_spent'})

Wall time: 4.83 s

#### Вот это среднее и std от баллов, но есть ощущщение, что смысла нихуя в них нет, ибо не было предварительной группировки по покупкам

In [161]:
%%time
mean_regular_points_received = groupedby_client_data['regular_points_received'].mean() \
    .rename(columns={'regular_points_received': 'mean_regular_points_received'})
mean_express_points_received = groupedby_client_data['express_points_received'].mean() \
    .rename(columns={'express_points_received': 'mean_express_points_received'})
mean_regular_points_spent = groupedby_client_data['regular_points_spent'].mean() \
    .rename(columns={'regular_points_spent': 'mean_regular_points_spent'})
mean_express_points_spent = groupedby_client_data['express_points_spent'].mean() \
    .rename(columns={'express_points_spent': 'mean_express_points_spent'})

Wall time: 1.9 s

In [101]:
mean_regular_points_received.head()

    client_id  mean_regular_points_received
0  000012768d                      7.551923
1  000036f903                      2.150000
2  000048b7a6                      3.907143
3  000073194a                      6.326829
4  00007c7133                      5.538554

In [162]:
%%time
std_regular_points_received = groupedby_client_data.agg({'regular_points_received': 'std'}) \
    .rename(columns={'regular_points_received': 'std_regular_points_received'})
std_express_points_received = groupedby_client_data.agg({'express_points_received': 'std'}) \
    .rename(columns={'express_points_received': 'std_express_points_received'})
std_regular_points_spent = groupedby_client_data.agg({'regular_points_spent': 'std'}) \
    .rename(columns={'regular_points_spent': 'std_regular_points_spent'})
std_express_points_spent = groupedby_client_data.agg({'express_points_spent': 'std'}) \
    .rename(columns={'express_points_spent': 'std_express_points_spent'})

Wall time: 1.93 s

### Создадим удобную козу

In [128]:
%%time
groupedby_transaction = data.groupby(['client_id', 'transaction_id'], as_index=False)[['regular_points_received', 'express_points_received', 'regular_points_spent', 'express_points_spent', 'product_quantity', 'trn_sum_from_iss']].sum()

Wall time: 44.7 s

In [93]:
groupedby_transaction.head()

,client_id,transaction_id,regular_points_received,express_points_received,regular_points_spent,express_points_spent,product_quantity,trn_sum_from_iss
0,000012768d,6a0e96d0bc,128.0,0.0,0.0,0.0,13.0,804.0
1,000012768d,7e3e2e3984,190.0,0.0,0.0,0.0,21.0,1007.0
2,000012768d,b34f23306e,12.0,0.0,0.0,0.0,6.0,419.0
3,000012768d,c1ca85d462,62.7,0.0,0.0,0.0,14.0,575.0
4,000036f903,0a3d640bf4,56.0,0.0,0.0,0.0,8.0,700.0

### Теперь из неё выдернем mean и std и квартили от колонок с [point], продуктами и trn_sum_from_iss

In [177]:
%%time
groupedby_transaction_2x_client = groupedby_transaction.groupby('client_id', as_index=False)
mean_by_transaction_regular_points_received = groupedby_transaction_2x_client['regular_points_received'].mean() \
    .rename(columns={'regular_points_received': 'mean_by_transaction_regular_points_received'})
mean_by_transaction_express_points_received = groupedby_transaction_2x_client['express_points_received'].mean() \
    .rename(columns={'express_points_received': 'mean_by_transaction_express_points_received'})
mean_by_transaction_regular_points_spent = groupedby_transaction_2x_client['regular_points_spent'].mean() \
    .rename(columns={'regular_points_spent': 'mean_by_transaction_regular_points_spent'})
mean_by_transaction_express_points_spent = groupedby_transaction_2x_client['express_points_spent'].mean() \
    .rename(columns={'express_points_spent': 'mean_by_transaction_express_points_spent'})

Wall time: 1.17 s

In [178]:
mean_by_transaction_regular_points_received.head()

    client_id  mean_by_transaction_regular_points_received
0  000012768d                                    98.175000
1  000036f903                                    10.884375
2  000048b7a6                                    27.350000
3  000073194a                                    30.517647
4  00007c7133                                    41.790909

In [179]:
%%time
std_by_transaction_regular_points_received = groupedby_transaction_2x_client.agg({'regular_points_received': 'std'}) \
    .rename(columns={'regular_points_received': 'std_by_transaction_regular_points_received'})
std_by_transaction_express_points_received = groupedby_transaction_2x_client.agg({'express_points_received': 'std'}) \
    .rename(columns={'express_points_received': 'std_by_transaction_express_points_received'})
std_by_transaction_regular_points_spent = groupedby_transaction_2x_client.agg({'regular_points_spent': 'std'}) \
    .rename(columns={'regular_points_spent': 'std_by_transaction_regular_points_spent'})
std_by_transaction_express_points_spent = groupedby_transaction_2x_client.agg({'express_points_spent': 'std'}) \
    .rename(columns={'express_points_spent': 'std_by_transaction_express_points_spent'})

Wall time: 528 ms

In [180]:
%%time
Q2_by_transaction_regular_points_received = groupedby_transaction_2x_client['regular_points_received'].quantile(.5) \
    .rename(columns={'regular_points_received': 'Q2_by_transaction_regular_points_received'})
Q2_by_transaction_express_points_received = groupedby_transaction_2x_client['express_points_received'].quantile(.5) \
    .rename(columns={'express_points_received': 'Q2_by_transaction_express_points_received'})
Q2_by_transaction_regular_points_spent = groupedby_transaction_2x_client['regular_points_spent'].quantile(.5) \
    .rename(columns={'regular_points_spent': 'Q2_by_transaction_regular_points_spent'})
Q2_by_transaction_express_points_spent = groupedby_transaction_2x_client['express_points_spent'].quantile(.5) \
    .rename(columns={'express_points_spent': 'Q2_by_transaction_express_points_spent'})

Wall time: 5.27 s

In [181]:
%%time
Q1_by_transaction_regular_points_received = groupedby_transaction_2x_client['regular_points_received'].quantile(.25) \
    .rename(columns={'regular_points_received': 'Q1_by_transaction_regular_points_received'})
Q1_by_transaction_express_points_received = groupedby_transaction_2x_client['express_points_received'].quantile(.25) \
    .rename(columns={'express_points_received': 'Q1_by_transaction_express_points_received'})
Q1_by_transaction_regular_points_spent = groupedby_transaction_2x_client['regular_points_spent'].quantile(.25) \
    .rename(columns={'regular_points_spent': 'Q1_by_transaction_regular_points_spent'})
Q1_by_transaction_express_points_spent = groupedby_transaction_2x_client['express_points_spent'].quantile(.25) \
    .rename(columns={'express_points_spent': 'Q1_by_transaction_express_points_spent'})

Wall time: 5.41 s

In [182]:
%%time
Q3_by_transaction_regular_points_received = groupedby_transaction_2x_client['regular_points_received'].quantile(.75) \
    .rename(columns={'regular_points_received': 'Q3_by_transaction_regular_points_received'})
Q3_by_transaction_express_points_received = groupedby_transaction_2x_client['express_points_received'].quantile(.75) \
    .rename(columns={'express_points_received': 'Q3_by_transaction_express_points_received'})
Q3_by_transaction_regular_points_spent = groupedby_transaction_2x_client['regular_points_spent'].quantile(.75) \
    .rename(columns={'regular_points_spent': 'Q3_by_transaction_regular_points_spent'})
Q3_by_transaction_express_points_spent = groupedby_transaction_2x_client['express_points_spent'].quantile(.75) \
    .rename(columns={'express_points_spent': 'Q3_by_transaction_express_points_spent'})

Wall time: 5.39 s

In [183]:
%%time
max_by_transaction_regular_points_received = groupedby_transaction_2x_client['regular_points_received'].max() \
    .rename(columns={'regular_points_received': 'max_by_transaction_regular_points_received'})
max_by_transaction_express_points_received = groupedby_transaction_2x_client['express_points_received'].max() \
    .rename(columns={'express_points_received': 'max_by_transaction_express_points_received'})
max_by_transaction_regular_points_spent = groupedby_transaction_2x_client['regular_points_spent'].max() \
    .rename(columns={'regular_points_spent': 'max_by_transaction_regular_points_spent'})
max_by_transaction_express_points_spent = groupedby_transaction_2x_client['express_points_spent'].max() \
    .rename(columns={'express_points_spent': 'max_by_transaction_express_points_spent'})

Wall time: 553 ms

In [184]:
%%time
min_by_transaction_regular_points_received = groupedby_transaction_2x_client['regular_points_received'].min() \
    .rename(columns={'regular_points_received': 'min_by_transaction_regular_points_received'})
min_by_transaction_express_points_received = groupedby_transaction_2x_client['express_points_received'].min() \
    .rename(columns={'express_points_received': 'min_by_transaction_express_points_received'})
min_by_transaction_regular_points_spent = groupedby_transaction_2x_client['regular_points_spent'].min() \
    .rename(columns={'regular_points_spent': 'min_by_transaction_regular_points_spent'})
min_by_transaction_express_points_spent = groupedby_transaction_2x_client['express_points_spent'].min() \
    .rename(columns={'express_points_spent': 'min_by_transaction_express_points_spent'})

Wall time: 524 ms

In [274]:
# %%time
# rpr = sum_regular_points_received.merge([mean_by_transaction_regular_points_received,
#                                          std_by_transaction_regular_points_received,
#                                          max_by_transaction_regular_points_received,
#                                          min_by_transaction_regular_points_received,
#                                         Q1_by_transaction_regular_points_received,
#                                         Q2_by_transaction_regular_points_received,
#                                         Q3_by_transaction_regular_points_received], on='client_id', how='outer')

TypeError: Can only merge Series or DataFrame objects, a <class 'list'> was passed

In [185]:
groupedby_transaction.head()

,client_id,transaction_id,regular_points_received,express_points_received,regular_points_spent,express_points_spent,product_quantity,trn_sum_from_iss
0,000012768d,6a0e96d0bc,128.0,0.0,0.0,0.0,13.0,804.0
1,000012768d,7e3e2e3984,190.0,0.0,0.0,0.0,21.0,1007.0
2,000012768d,b34f23306e,12.0,0.0,0.0,0.0,6.0,419.0
3,000012768d,c1ca85d462,62.7,0.0,0.0,0.0,14.0,575.0
4,000036f903,0a3d640bf4,56.0,0.0,0.0,0.0,8.0,700.0

In [186]:
# %%time
# sum_product_quantity = groupedby_transaction.groupby('client_id', as_index=False)['product_quantity'].sum() \
#     .rename(columns={'product_quantity':'sum_product_quantity'})
# max_product_quantity = groupedby_transaction.groupby('client_id', as_index=False)['product_quantity'].max() \
#     .rename(columns={'product_quantity':'max_product_quantity'})
# min_product_quantity = groupedby_transaction.groupby('client_id', as_index=False)['product_quantity'].min() \
#     .rename(columns={'product_quantity':'min_product_quantity'})
# std_product_quantity = groupedby_transaction.groupby('client_id', as_index=False).agg({'product_quantity': 'std'}) \
#     .rename(columns={'product_quantity':'std_product_quantity'})
# Q1_product_quantity = groupedby_transaction.groupby('client_id', as_index=False)['product_quantity'].quantile(0.25) \
#     .rename(columns={'product_quantity':'Q1_product_quantity'})
# Q2_product_quantity = groupedby_transaction.groupby('client_id', as_index=False)['product_quantity'].quantile(0.5) \
#     .rename(columns={'product_quantity':'Q2_product_quantity'})
# Q3_product_quantity = groupedby_transaction.groupby('client_id', as_index=False)['product_quantity'].quantile(0.75) \
#     .rename(columns={'product_quantity':'Q3_product_quantity'})

In [267]:
%%time
feat_product_quantity = groupedby_transaction_2x_client.product_quantity \
    .agg(['sum', 'mean', 'max', 'min', 'std']).reset_index()
grouped_product_quntity = groupedby_transaction_2x_client['product_quantity']
Q1_product_quantity = grouped_product_quntity.quantile(0.25) \
    .rename(columns={'product_quantity': 'Q1_product_quantity'})
Q2_product_quantity = grouped_product_quntity.quantile(0.5) \
    .rename(columns={'product_quantity': 'Q2_product_quantity'})
Q3_product_quantity = grouped_product_quntity.quantile(0.75) \
    .rename(columns={'product_quantity': 'Q3_product_quantity'})

Wall time: 5.51 s

In [268]:
feat_product_quantity.head()

    client_id    sum   max  min       std
0  000012768d   54.0  21.0  6.0  6.137318
1  000036f903  169.0  12.0  1.0  2.750183
2  000048b7a6   91.0  20.0  3.0  6.162965
3  000073194a  127.0  17.0  1.0  6.094235
4  00007c7133   83.0  10.0  2.0  2.423371

In [189]:
groupedby_transaction.head()

,client_id,transaction_id,regular_points_received,express_points_received,regular_points_spent,express_points_spent,product_quantity,trn_sum_from_iss
0,000012768d,6a0e96d0bc,128.0,0.0,0.0,0.0,13.0,804.0
1,000012768d,7e3e2e3984,190.0,0.0,0.0,0.0,21.0,1007.0
2,000012768d,b34f23306e,12.0,0.0,0.0,0.0,6.0,419.0
3,000012768d,c1ca85d462,62.7,0.0,0.0,0.0,14.0,575.0
4,000036f903,0a3d640bf4,56.0,0.0,0.0,0.0,8.0,700.0

In [263]:
%%time
feat_trn_sum_from_iss = groupedby_transaction_2x_client.trn_sum_from_iss \
    .agg(['sum', 'max', 'min', 'std']).reset_index()
grouped_trn_sum_from_iss = groupedby_transaction_2x_client['trn_sum_from_iss']
Q1_trn_sum_from_iss = grouped_trn_sum_from_iss.quantile(0.25) \
    .rename(columns={'trn_sum_from_iss': 'Q1_trn_sum_from_iss'})
Q2_trn_sum_from_iss = grouped_trn_sum_from_iss.quantile(0.5) \
    .rename(columns={'trn_sum_from_iss': 'Q2_trn_sum_from_iss'})
Q3_trn_sum_from_iss = grouped_trn_sum_from_iss.quantile(0.75) \
    .rename(columns={'trn_sum_from_iss': 'Q3_trn_sum_from_iss'})

Wall time: 9.39 s

In [264]:
feat_trn_sum_from_iss

         client_id      sum     max    min          std
0       000012768d   2805.0  1007.0  419.0   257.969475
1       000036f903   9810.0   700.0   58.0   161.829248
2       000048b7a6   3617.0  1126.0  114.0   300.340016
3       000073194a   9514.0  1729.0   35.0   417.497895
4       00007c7133   6488.0  1044.0  312.0   298.337332
...            ...      ...     ...    ...          ...
400157  fffece623e   6473.0   810.0   31.0   185.434971
400158  ffff3dfff8   7087.0  1427.0   15.0   325.646642
400159  ffffaab9da   3793.0   865.0  222.0   290.237505
400160  ffffeb5619  15228.0  3665.0  217.0  1250.041847
400161  fffff6ce77  18278.0  2081.0    0.0   524.863942

[400162 rows x 5 columns]

In [6]:
%%time
purchase_sums = data.drop_duplicates(subset=['client_id', 'transaction_id'])

Wall time: 11.4 s

In [7]:
purchase_sums.head()

,client_id,transaction_id,transaction_datetime,regular_points_received,express_points_received,regular_points_spent,express_points_spent,purchase_sum,store_id,product_id,product_quantity,trn_sum_from_iss,trn_sum_from_red
0,000012768d,7e3e2e3984,2018-12-01 07:12:45,10.0,0.0,0.0,0.0,1007.0,54a4a11a29,9a80204f78,2.0,80.0,NaN
19,000012768d,c1ca85d462,2018-12-16 08:56:01,5.7,0.0,0.0,0.0,574.0,ed8d2683fd,4dcf79043e,4.0,164.0,NaN
30,000012768d,6a0e96d0bc,2019-03-08 10:12:03,8.0,0.0,0.0,0.0,803.0,017c89b915,36294f82c2,1.0,50.0,NaN
46,000012768d,b34f23306e,2019-03-14 15:01:47,2.0,0.0,0.0,0.0,419.0,017c89b915,6bab126f22,1.0,59.0,NaN
52,000036f903,12b218b054,2018-11-28 10:48:36,1.2,0.0,0.0,0.0,241.0,6381a55c22,f6ad31e071,0.0,32.0,NaN

In [211]:
%%time
purchase_sums_by_clients = purchase_sums.groupby('client_id', as_index=False)
sum_purchase_sums_by_clients = purchase_sums_by_clients['purchase_sum'].sum()
mean_purchase_sums_by_clients = purchase_sums_by_clients['purchase_sum'].mean()
std_purchase_sums_by_clients = purchase_sums_by_clients['purchase_sum'].agg({'purchase_sum2': 'std'})

Wall time: 992 ms

In [235]:
std_purchase_sums_by_clients

         client_id  purchase_sum2
0       000012768d     258.000484
1       000036f903     161.780987
2       000048b7a6     327.558065
3       000073194a     410.462412
4       00007c7133     284.195416
...            ...            ...
400157  fffece623e     185.307607
400158  ffff3dfff8     330.090085
400159  ffffaab9da     290.423746
400160  ffffeb5619    1250.233823
400161  fffff6ce77     520.322445

[400162 rows x 2 columns]

In [273]:
def Q2(x):
    return np.quantile(x, 0.5)
def Q1(x):
    return np.quantile(x, 0.25)
def Q3(x):
    return np.quantile(x, 0.75)

In [272]:
%%time
tmp = purchase_sums_by_clients.purchase_sum.agg([np.sum, np.mean, np.std, lambda x: np.quantile(x, 0.5)])

Wall time: 1min 1s

In [259]:
tmp.reset_index()

         client_id       sum         mean          std
0       000012768d   2803.00   700.750000   258.000484
1       000036f903   9805.00   306.406250   161.780987
2       000048b7a6   3772.00   471.500000   327.558065
3       000073194a   9601.40   564.788235   410.462412
4       00007c7133   6719.84   610.894545   284.195416
...            ...       ...          ...          ...
400157  fffece623e   6530.01   272.083750   185.307607
400158  ffff3dfff8   7264.84   427.343529   330.090085
400159  ffffaab9da   3791.00   541.571429   290.423746
400160  ffffeb5619  15226.22  2175.174286  1250.233823
400161  fffff6ce77  18560.59   580.018438   520.322445

[400162 rows x 4 columns]

In [6]:
uplift_train = pd.read_csv('uplift_train.csv')

In [ ]:
# purchase_sum.sum.mean.std.min.max, product_quantity.sum.mean.std.min.max ласт месяц

In [88]:
threshold = data['transaction_datetime'].loc[45786567] - pd.timedelta_range(start='30 days', periods=1)

In [93]:
threshold = threshold[0]

In [4]:
#purchase
purchase_sums = data.drop_duplicates(subset=['client_id', 'transaction_id'])

In [109]:
last_30days_purchase_sums = purchase_sums[purchase_sums.transaction_datetime > threshold]

In [110]:
last_30days_purchase_sums = last_30days_purchase_sums.groupby('client_id', as_index=False).purchase_sum.agg(['sum', 'mean', 'max', 'min']).reset_index()

In [115]:
last_30days_purchase_sums = last_30days_purchase_sums.rename(columns={'sum': 'sum_last_30days_purchase_sums',
                                  'mean': 'mean_last_30days_purchase_sums',
                                  'max': 'max_last_30days_purchase_sums',
                                  'min': 'min_last_30days_purchase_sums',
                                  'std': 'std_last_30days_purchase_sums'})

In [122]:
last_30days_purchase_sums.head() #to merge

,client_id,sum_last_30days_purchase_sums,mean_last_30days_purchase_sums,max_last_30days_purchase_sums,min_last_30days_purchase_sums
0,000012768d,1222.00,611.000000,803.0,419.00
1,000036f903,2968.00,329.777778,506.0,93.00
2,000048b7a6,698.00,349.000000,356.0,342.00
3,000073194a,4223.37,603.338571,1017.0,267.97
4,00007c7133,380.00,380.000000,380.0,380.00

In [5]:
mean_vals_per_store = purchase_sums[['purchase_sum', 'store_id']].groupby('store_id').mean()

In [6]:
mean_vals_per_store.isnull().sum()

purchase_sum    0
dtype: int64

In [15]:
#to merge ОТДЕЛЬНО ВЫЧЕСТЬ
mean_vals_per_store = mean_vals_per_store.rename(columns={'purchase_sum': 'mean_purchase_sum_per_store'})

In [17]:
mean_vals_per_store.to_dict()['mean_purchase_sum_per_store']

{'000407ff98': 585.469605633803,
 '00068bf003': 387.922012987013,
 '000dc91493': 325.86767080745346,
 '000f9ad0d8': 462.12850056369786,
 '00117ce48d': 330.5102121640735,
 '0011ed3a23': 315.21341227125936,
 '0019cd2680': 244.1874557051735,
 '001b28193a': 297.3202469135801,
 '001bcfe2f4': 341.96093503937,
 '001cc8c091': 496.3120512820514,
 '001de8b333': 576.3492896174863,
 '001f910c97': 315.281641025641,
 '0021371f71': 454.3705950840881,
 '002d2c473c': 260.4802433628321,
 '003701b0a2': 287.4872753209701,
 '004027392b': 718.3430777096099,
 '004a8e14b8': 425.8519205298016,
 '004b4b797d': 320.9656839622642,
 '004d8a9ee0': 468.6617879417879,
 '004fe344e9': 333.1889702970295,
 '0057de7a35': 302.35265306122454,
 '005863f461': 518.7516784630938,
 '005b8b664c': 344.0367206477734,
 '005fb874b1': 265.54657786885247,
 '006104ac29': 258.9830861244019,
 '006525ed1f': 915.5834014869887,
 '006893d2da': 412.02207792207776,
 '006eee43fb': 373.0791104294478,
 '006f7e4270': 452.7045577211396,
 '006fa75a11': 540.7908716475093,
 '0073f18710': 448.88311111111113,
 '00744453af': 306.8069257641919,
 '007d5aa641': 412.4189449954909,
 '008a6f8620': 651.2259976105139,
 '0098e61557': 353.3084126984127,
 '009d45663e': 574.5618791946309,
 '009e1e1235': 479.0250673854447,
 '00a7c7af49': 410.52649836065524,
 '00af080f9a': 399.23087248322156,
 '00af591d00': 609.6797007042255,
 '00b39be411': 370.80645299145294,
 '00b54b8e8a': 463.3865342960289,
 '00bd62536f': 671.3504526748973,
 '00bfa83512': 343.0464925373134,
 '00c49a8224': 324.3114492753621,
 '00c7318b79': 495.0350234741785,
 '00cbaa82fe': 771.1107199999996,
 '00d0918a6d': 295.47174208144827,
 '00d841f2d3': 282.6541050583657,
 '00e2c4fb54': 457.8433626373624,
 '00f63c9f28': 399.7207344632769,
 '00fd04a8a5': 494.4783035714286,
 '0104032d9b': 309.841992337165,
 '01041dd291': 379.44603411513833,
 '010680a3b6': 401.0953869653765,
 '010749c035': 325.70422003284074,
 '010db49e9c': 383.4352857142855,
 '010e5ee95d': 315.02727187206034,
 '011262a964': 450.89613793103456,
 '01137be401': 304.33026058631924,
 '0114289b87': 367.03601869158854,
 '01170e4ce2': 448.7233830845773,
 '011972166b': 351.503052631579,
 '011e1e8347': 314.5608752025934,
 '011edf9079': 376.9493135435995,
 '0120dadc2e': 257.84022900763364,
 '0132c43af5': 967.4377554304094,
 '0133103188': 563.3972,
 '013312313e': 374.55183411214944,
 '013457b260': 255.55477611940302,
 '013465a697': 764.98509352518,
 '013a253389': 429.99511677282396,
 '013b506ef6': 488.0075707317068,
 '013d154ef4': 884.1686852916996,
 '014e7a4f49': 367.514180327869,
 '015e82e5e0': 332.91556626506025,
 '0163b63e08': 293.88806250000005,
 '0166564205': 480.9398832684825,
 '0166774589': 622.6997335423198,
 '016eeee5ed': 306.424993006993,
 '0179959688': 563.4820408163265,
 '017c89b915': 277.82914529914535,
 '017d615ad0': 430.54907090464576,
 '017d7bf809': 348.33478873239454,
 '017fcffb7f': 313.0888657105607,
 '0180e324a9': 399.9907096774193,
 '01812cb9ed': 443.938086124402,
 '0182853d95': 470.6288361408882,
 '018d873dc6': 317.589286754003,
 '018d98c73f': 437.1102321083175,
 '0196e6a4b8': 590.6986486486487,
 '019819c954': 651.2254532374099,
 '019d874f3c': 555.9463192182416,
 '01a48d28e4': 242.84473770491806,
 '01a8fda685': 1012.866976525821,
 '01a983b533': 397.1146830265847,
 '01ac20a888': 341.2186688851914,
 '01af8cb02d': 427.59922279792755,
 '01b1a98fe1': 345.40593582887686,
 '01b324f2c3': 503.0777857142857,
 '01b5b84168': 540.5519112627987,
 '01bece7c89': 361.8699150743099,
 '01c397ce98': 360.5984459459459,
 '01c5ba3532': 539.1755165289252,
 '01cd6ff766': 406.8657534246576,
 '01cfe1aa0a': 285.3969188445664,
 '01d026399f': 521.8598648648648,
 '01d050772c': 505.4305720823799,
 '01d3fbc297': 301.4182985074627,
 '01d6c3d70a': 341.3030113636363,
 '01ddb6c1d8': 398.1299691991786,
 '01e5478298': 448.4825906735742,
 '01ec6c98d7': 344.5269977924944,
 '01f0f247c4': 399.620318584071,
 '01ffd51f8b': 407.0195057471264,
 '02034111d6': 271.52881282495673,
 '020ab25663': 287.6750285306699,
 '020b8a7aef': 447.06849816849814,
 '021a3d4293': 612.0973522975931,
 '021c3b7b61': 462.5327586206898,
 '021ddb892c': 668.3768697478996,
 '0220fc556d': 374.1725109170304,
 '022902a970': 342.37983486238534,
 '022c698418': 585.4786024096383,
 '022fbac1bf': 378.45659154929564,
 '023aa954d1': 387.8970198675496,
 '024eae3382': 478.90136734693874,
 '0251f1051c': 384.03558554216795,
 '025c79fc04': 616.427339055794,
 '02604d5e76': 266.5586124401913,
 '02710b90b5': 352.2568190854864,
 '027fbd8319': 284.18912851627096,
 '028910cec0': 294.3548984771574,
 '02982d2f62': 307.50085106382994,
 '029a1fdf37': 346.303791773779,
 '02a8bda85a': 484.9700611620797,
 '02ab0e1096': 341.96247557003255,
 '02ae30671b': 383.01395121951225,
 '02af6dd0c1': 471.87510714285753,
 '02aff71e41': 551.6603929273082,
 '02b43adce0': 742.8407863849754,
 '02b5e43b5e': 408.3943670886076,
 '02b7a68b63': 297.01968496849685,
 '02bc383df2': 386.28598076923055,
 '02c862eed0': 355.36876363636406,
 '02d255e972': 411.22384015594525,
 '02d3b61241': 456.77031595576625,
 '02e1b8ea64': 323.4966914498143,
 '02e5188977': 714.7725840092696,
 '02e96c90cd': 491.64013677811556,
 '02e9954ded': 498.2250655021833,
 '02f0156d68': 380.0929522613064,
 '02f29bca8e': 569.1840625000003,
 '02fe13301e': 486.612901459854,
 '02ff900368': 416.68682352941164,
 '0305337045': 301.7252261306533,
 '030705f497': 413.82381237524964,
 '030eced38d': 396.0534302325584,
 '030f5b5b27': 439.3215102040819,
 '03123391d1': 447.90042253521136,
 '031607bb86': 466.2931679389311,
 '0319b9c5e8': 334.3052,
 '031a227cb9': 353.2569004893964,
 '031c98a607': 264.7008256880734,
 '031f35e407': 416.56862318840587,
 '03211df641': 583.6839261744971,
 '0324379e59': 390.856587112172,
 '03296b9f8c': 586.8540264650284,
 '032f2ecb65': 653.3180243902441,
 '0334515028': 300.4197054491899,
 '03363beb2f': 362.45774484536116,
 '0337a0104f': 805.7981907894734,
 '033c5a3cb7': 192.55785594639883,
 '033e24919b': 245.37146396396398,
 '03449df124': 543.826261682242,
 '0344c1de6d': 343.2509375000001,
 '0345394d8e': 528.0913768115942,
 '034cdca1b7': 406.9928826151564,
 '035bc3b043': 330.32657534246573,
 '035ed27462': 413.0766449511402,
 '0374ed8128': 425.84262162162145,
 '0377203167': 548.8715353805075,
 '0378ca1274': 390.19149350649377,
 '037a54ec9f': 693.174063116371,
 '038d8b2b66': 782.1991304347824,
 '038e2e9854': 553.9938181818184,
 '0399438f3b': 319.16754590984965,
 '039976a9e8': 411.08983273596175,
 '039db45b48': 362.0644747899159,
 '03a500788d': 408.4801955307263,
 '03aadfe840': 665.1893625498008,
 '03b0245f01': 387.1795582329318,
 '03c075bdc1': 537.0514613180516,
 '03c4869129': 413.45333333333326,
 '03cda3b289': 387.44263414634185,
 '03cf2fee7d': 267.374546553809,
 '03cf958376': 425.79633136094674,
 '03d0125fb6': 389.0434754098361,
 '03d5f552e8': 355.0694208893484,
 '03d67cdb96': 592.336969696969,
 '03d864845f': 288.90126811594195,
 '03da7b36d6': 339.49003144654114,
 '03df903daa': 308.54952247191017,
 '03eb173df8': 788.7020415224915,
 '03ecb0e2e0': 425.3138976377951,
 '03f4237c43': 644.0928142076505,
 '03f753c562': 583.8498091603052,
 '03ff28b8a8': 291.31616022099445,
 '0403ec5243': 552.1360115606935,
 '04043b2480': 343.5771673003803,
 '0404520aa5': 413.2761368209258,
 '040b67c1f7': 324.7864385150807,
 '040df44cf5': 338.18861928104565,
 '040ea77d5b': 254.19186311787092,
 '04112b6ce6': 695.9598848920862,
 '041184c37f': 380.3292803970225,
 '0416e65822': 295.49218152866257,
 '0419d19db0': 587.6313207547169,
 '041d7a9546': 419.6404458598727,
 '041eb09232': 460.85017114914444,
 '0420b4bb39': 366.01617647058794,
 '042cffe3ba': 350.8984054669704,
 '042d45123d': 487.16732394366204,
 '042ee65b2a': 450.79251716247114,
 '0440e7b8f7': 297.8400178571431,
 '04431c1ea6': 351.2565897166843,
 '04471ad9d5': 454.1186059275522,
 '045025936c': 646.1988095238097,
 '045367eba0': 533.1047388059703,
 '0459d4fcd7': 296.7410055350555,
 '0460acbac1': 297.28392097264435,
 '0468aab280': 423.26469483568104,
 '04696e3c55': 305.97149289099514,
 '0470ee2a77': 685.9232642487046,
 '04827241ad': 445.85804263565876,
 '0482d4d107': 715.2749387755102,
 '04846a5577': 264.82349420849425,
 '048977ee3b': 499.9020967741934,
 '048aa35208': 467.72374622356494,
 '048e99e820': 582.1962962962965,
 '048fbb817e': 641.4110476190475,
 '04a19c8fb3': 416.1064285714286,
 '04aec4cf9e': 779.2706616729091,
 '04b0d66cef': 369.41319935691337,
 '04be001d25': 351.50182209469176,
 '04c0810117': 456.0527524429968,
 '04c645a414': 277.96472131147544,
 '04ca406949': 420.96718681318623,
 '04ca9d9fa4': 338.68228438228414,
 '04cbe47bb9': 502.3317069486407,
 '04cd0f10a2': 388.4586021505377,
 '04d10d25a8': 321.7739024390245,
 '04d2cb2531': 352.9525947521865,
 '04d336aec5': 439.7636580882354,
 '04d4a309bb': 300.19933742331307,
 '04d6c68305': 393.76950819672135,
 '04de9b9bc5': 601.5240749999999,
 '04e1519f66': 882.0928008021365,
 '04e162be26': 416.15567823343844,
 '04e21dcd0a': 488.5621428571429,
 '04e25103a7': 375.51690582959645,
 '04e2a5aacc': 334.820850340136,
 '04e3394d49': 781.413254817987,
 '04e54d0738': 691.4931891891893,
 '04e64e7a5e': 514.7333233532936,
 '04eb8dfa2e': 767.6571739130429,
 '04ecccb915': 366.1171188811189,
 '04fdfe0139': 1084.9854271356785,
 '0503646c9e': 270.91919573643406,
 '050488e2fa': 249.29029411764702,
 '050c2a9985': 939.2271868583156,
 '050cdac0fc': 306.865203125,
 '051225f1dc': 413.3210608695654,
 '0512d33d9b': 609.1260790273557,
 '05242785ad': 281.5228008298755,
 '052526ef1a': 323.1713597246128,
 '0531c709db': 738.9793485342019,
 '0531c77ab2': 318.37646459227415,
 '053672b358': 311.13857541899444,
 '053a834163': 764.7015384615383,
 '0544184f30': 436.3483333333333,
 '05483d0817': 266.6319080779944,
 '054bb19dff': 495.0529098360654,
 '0554760e1e': 313.60601851851857,
 '0559c9ec6b': 371.88197183098606,
 '055b509171': 377.1787774725276,
 '055bf7558f': 324.4736660268715,
 '055d3033c8': 869.2786336866898,
 '05678cd05a': 1214.8474295190708,
 '05777f5ad8': 458.50233576642336,
 '05778f79f6': 373.582622061483,
 '057dc5d785': 311.10921348314605,
 '057ef9076f': 432.99578124999994,
 '058097d286': 422.6459855334543,
 '0583a374dd': 307.85116523400217,
 '05854da928': 608.3351603498542,
 '058655eca8': 428.7200220994469,
 '058657a736': 306.0841162029459,
 '058aaf8fd8': 669.9423735408562,
 '058cfaf1c9': 660.025980861244,
 '058d55bbef': 222.8330387596899,
 '058dba5bd7': 618.4561016949153,
 '059fb53817': 291.86670184696567,
 '05aaa6788e': 610.0646666666661,
 '05b3a74c25': 444.0148669201522,
 '05b41bbc07': 333.25499999999994,
 '05b777cc93': 423.13966101694905,
 '05b836af58': 375.0228297362113,
 '05bdc81b0e': 448.3262322946177,
 '05bf493d5f': 348.53587037037033,
 '05c0585ab3': 439.04900311526484,
 '05c1227445': 371.90483595800447,
 '05c251505d': 516.5682854209438,
 '05c2dbc6f6': 491.14493224932284,
 '05c3d67c5d': 406.1259437751003,
 '05ccef3ba4': 347.66796296296303,
 '05d2866c43': 464.1822222222223,
 '05d48eff79': 369.2669426751588,
 '05d5e10217': 393.354785310734,
 '05d69c9bd5': 500.09220125786163,
 '05d9954f7c': 291.15424342105257,
 '05dc324cac': 222.04334987593046,
 '05ddefb6a8': 571.4346706586825,
 '05de709fef': 542.2937593984961,
 '05e289eccb': 397.88074850299415,
 '05eb0d6a48': 655.8361836734698,
 '05eb2c119d': 646.7074129353234,
 '05ee53734c': 505.01629357798186,
 '05f1323c7a': 825.5426760563373,
 '05f52489a6': 580.1319374999991,
 '05fa3f6a79': 389.21579681274875,
 '0609ec0ecd': 192.8848109965637,
 '061070a3fa': 224.35267298578222,
 '061142307f': 459.29858156028394,
 '061bdb014a': 463.062248803828,
 '061cf2e2ef': 503.78813074565824,
 '061e50daac': 393.74684981684953,
 '061f06e24f': 428.73875,
 '062381af77': 543.5471235194581,
 '0630faa509': 343.8425310559007,
 '06320543c4': 420.1273469387756,
 '0635284512': 416.46207516339877,
 '0636dcc7ea': 262.94019880715695,
 '0638ebbf22': 465.96584782608676,
 '063cfb042e': 282.2792255434785,
 '0640c1aec5': 344.1100000000002,
 '06450995ef': 393.0144950495052,
 '064ba37f0d': 334.8874500000002,
 '064ce6bb07': 755.4550461538457,
 '064d699223': 318.44998729351965,
 '065147d4a5': 383.1986759581881,
 '06557bdc5c': 278.3770661157026,
 '06574dc870': 385.1014375000002,
 '06652124e9': 289.3091940789474,
 '0668faa41d': 357.4510474860336,
 '06708d49f5': 370.5763021868788,
 '06712a6edb': 499.0546774193547,
 '067bb3329f': 433.970012953368,
 '067c76b51e': 334.8524867724868,
 '0681b11846': 768.4075959595957,
 '0682f40e14': 373.8752323232322,
 '068446ca94': 370.8457014925374,
 '06853a85d8': 408.014247491639,
 '06868a8835': 620.4012723214275,
 '068e7876ad': 534.3664086687306,
 '0699828f7c': 851.4803225806453,
 '06a239d443': 386.50661684782574,
 '06a6ab957a': 779.0664171123,
 '06b0b3cc07': 444.1865615141957,
 '06b0bc2523': 421.77356140350895,
 '06b72945da': 394.8466715542521,
 '06c52048c3': 433.20554520037274,
 '06c7eb156f': 1015.1723185011701,
 '06cf8810c5': 504.5582826475848,
 '06d05168e4': 421.96684044233797,
 '06e5526815': 964.7020279720276,
 '06e96ae24c': 310.05495944380067,
 '06ef217948': 329.1396747967481,
 '06f612178a': 443.2185944700462,
 '06fa7126dc': 335.48950596252143,
 '06fb423925': 262.6316037735849,
 '06fc3d7288': 1061.9210344827586,
 '06fca5c48f': 329.30749999999983,
 '06fdf86893': 395.1632340425533,
 '07038c0be1': 277.66844488188974,
 '071841dcf4': 262.1899401197605,
 '0718796be0': 246.93105436573333,
 '071b38d19d': 328.4427464788733,
 '073b1c5895': 365.57237591537825,
 '0742bf6801': 493.16857142857083,
 '07430eb209': 707.7773966942148,
 '07508e96ea': 447.5917078651684,
 '07541a0180': 455.02861063464843,
 '0758adab1b': 586.4656603773583,
 '07592e8a8d': 261.6816826156298,
 '075ee8dd8e': 218.14219976218783,
 '075fbb5d65': 295.1600554016621,
 '076bd2a058': 394.0954608294932,
 '07773579c7': 308.19890476190494,
 '0777ded455': 321.71095965103586,
 '077ba59145': 483.24813559322035,
 '0780eda76d': 395.9263210702337,
 '078a4f4b63': 390.43131004366825,
 '07962762a6': 462.7814864864867,
 '0797ed3bfb': 387.473992490613,
 '079ae0ff0d': 352.25067319461414,
 '07a052e440': 561.824605263158,
 '07a1c656bd': 543.006755725191,
 '07a202b962': 405.44925196850386,
 '07afc7c614': 436.16804755944895,
 '07b245ebd5': 407.07881374722854,
 '07b8511326': 435.62610169491535,
 '07bb3a7ee9': 629.3941129032256,
 '07bf3f4a7f': 350.92065624999975,
 '07ce71bc9e': 303.3544120100083,
 '07e46e02a4': 315.2880925925926,
 '07f160772f': 898.8303720106281,
 '080bc07ab5': 372.2605571847509,
 '08178f9f76': 713.9201269531239,
 '08197a2915': 492.11509433962266,
 '08243fcd62': 1198.2577245508978,
 '0827407f06': 436.5588302752293,
 '082dbc8343': 318.7539002267575,
 '0832f96c17': 423.5104766187051,
 '0835e3bfbd': 321.0990039840639,
 '0838ce5778': 479.2909143686499,
 '083b3c7f81': 543.5645390070923,
 '083ea41c4e': 433.62396109637484,
 '08406cc49f': 286.40234460196285,
 '08425da0c8': 319.64381981982,
 '0844b2c7c9': 448.7735477941176,
 '0857d63337': 295.2285347043705,
 '085b08bf2b': 566.3981024447032,
 '0867e0525b': 279.3038691883372,
 '0873a2cc73': 581.5262068965501,
 '08759da518': 352.2100947225986,
 '087a9b4b07': 533.4583547557844,
 '087d731b83': 395.35087234042584,
 '088025747d': 310.6805982905983,
 '088562753f': 364.14939622641526,
 '0889a19712': 301.9155516840883,
 '088d659a8c': 391.0310476190477,
 '088fd6a6a5': 366.6058977272729,
 '089137e2fe': 834.735739385065,
 '0894633a5c': 483.03386029411763,
 '089bed53b5': 278.35699551569496,
 '08a3c0c418': 245.1463913595936,
 '08a93da5ad': 422.3667269439422,
 '08b9cc3729': 507.2260204081635,
 '08c73c22b4': 340.35676821192067,
 '08ce8e2130': 441.79591133004925,
 '08cfe9b3d8': 565.919107913669,
 '08dd1a3b4c': 519.8677777777779,
 '08e9471ff5': 452.4137627118643,
 '08eafffccb': 394.796545064378,
 '08f1de609c': 550.5783136899356,
 '08f9303fd3': 418.854266055046,
 '08fed37db5': 275.60816017316006,
 '09059e099d': 446.7114823529408,
 '0908b48658': 366.66978165938866,
 '0915f04f9e': 456.03813664596265,
 '09191b87f9': 219.77141903171955,
 '092766ad99': 356.1702083333333,
 '093aeae60f': 394.33149277688614,
 '093c672c4d': 268.5728171091445,
 '094bd8dc14': 412.2896363636365,
 '094fab10d5': 418.07751082251116,
 '09500cbd7b': 280.78057337883916,
 '0954b3d52f': 413.35957692307727,
 '095839c31a': 387.7151602564102,
 '09599bb4e6': 744.3954390934844,
 '095da6f34d': 819.8983738317747,
 '095fe09172': 533.8204438964233,
 '0960cd7820': 294.54236814891414,
 '0965fe040e': 579.5409689922478,
 '09682ba83f': 333.1976171874998,
 '0968cf85ca': 623.4440259740259,
 '096988a68e': 443.1403076923078,
 '0969d77b5f': 332.0132564102564,
 '096cd172de': 386.9845593869731,
 '09703d5fae': 407.2800740740742,
 '09733348bd': 914.817966101695,
 '097ba1ae90': 281.84486238532105,
 '097c17e31b': 577.4655981595085,
 '098005a94c': 523.5510230179029,
 '0982904a9a': 367.00980885311884,
 '09832defca': 353.58009615384634,
 '09951902e9': 514.7168556701026,
 '099e7a75a7': 306.99871934604903,
 '099e9315d4': 548.9462557077625,
 '099f51d959': 794.5479591836739,
 '09a9ff6d42': 432.7198648648648,
 '09ab710a1f': 360.72374692874706,
 '09ac4c6e19': 556.2983783783783,
 '09af878981': 377.1123597678914,
 '09b99cc35a': 1226.3393852459021,
 '09c11679c9': 398.48671096345504,
 '09c1ba1b80': 514.4204395604395,
 '09d07c38de': 781.6183779971789,
 '09d2009cfc': 425.13916363636355,
 '09d2d45a53': 518.3263184079599,
 '09d55918bc': 473.72732484076437,
 '09d5618c73': 293.19866479269075,
 '09d8f8f6f3': 336.2680129589634,
 '09de4b83d4': 266.021572327044,
 '09e0ebfdec': 349.4614431818179,
 '09e137e8fd': 542.075009310987,
 '09f2568bf9': 607.0705739514351,
 '09f4bd7250': 317.69991847826094,
 '09f76af65c': 653.7203865336656,
 '09f941760f': 521.0491324200913,
 '09ff1eb4d5': 358.1380745341616,
 '0a021b422b': 303.81069584736235,
 '0a03feb0d6': 586.8243831640056,
 '0a07a6a5ee': 351.4537569060773,
 '0a0bcf2d21': 296.95187129551215,
 '0a0c7ab557': 258.2781536819639,
 '0a10d8cf9c': 285.6748598130839,
 '0a140f360f': 348.23424703891715,
 '0a15426822': 821.8294694960204,
 '0a205e471a': 314.72997474747484,
 '0a2c72b0c3': 323.73337696335074,
 '0a2ceefac0': 345.379090909091,
 '0a2ed30296': 395.42803738317747,
 '0a2f3462eb': 776.2570889894419,
 '0a34aef6ef': 308.96163214581594,
 '0a36b4c5ec': 461.53132669983427,
 '0a3a420be7': 447.4077086280055,
 '0a48bd1dc9': 491.0608848484847,
 '0a4b2f8d21': 406.3267378640776,
 '0a501c0392': 611.5427510917035,
 '0a5cb6c1ca': 263.627114337568,
 '0a61438b4b': 611.9898958333334,
 '0a64b6456a': 531.0400294550808,
 '0a6d0a29be': 609.7515068493149,
 '0a72bc58b3': 418.4343518518519,
 '0a735f84d5': 418.2807669616519,
 '0a77ac9bae': 332.32873853211004,
 '0a7b5e15af': 455.21065088757416,
 '0a85600ff5': 356.1253672316381,
 '0a913cf069': 297.43326758147515,
 '0a9adf8438': 233.6492372881356,
 '0aa8af8539': 476.489787985866,
 '0aa8d939d5': 268.1310023310026,
 '0aa928178b': 664.5524802110817,
 '0aaad2f570': 379.913625,
 '0aaff1724c': 330.1165435356202,
 '0ab2d1c562': 353.60221276595763,
 '0ab6769948': 670.8924901185766,
 '0ab76233a5': 308.025290581162,
 '0ac0f7c682': 403.3398675496689,
 '0ac8fc9770': 408.22076588337654,
 '0ac9d3cc9e': 690.1351351351351,
 '0acb70d5df': 350.8758909853249,
 '0acd4d5a12': 1596.6873239436616,
 '0ad06a366f': 366.37642300194943,
 '0ad1adb995': 603.1014361702128,
 '0ad3310037': 314.27384932920563,
 '0ada6b6dd6': 279.78452307692305,
 '0ada87a518': 330.4448660714285,
 '0adb2fd752': 784.2502446982045,
 '0adb8db4c6': 446.30489495798344,
 '0ae433bc70': 649.7110731707318,
 '0aeb2c361d': 451.29355231143546,
 '0af529840a': 369.8806921241052,
 '0afa23ff87': 794.9052512155582,
 '0afb0e4bf8': 331.128931082982,
 '0aff65014b': 416.89507739938074,
 '0b06459162': 324.5516758241757,
 '0b080d09ea': 297.9243621399178,
 '0b17b4f6c3': 510.78231481481475,
 '0b1b376dca': 414.41991304347806,
 '0b1ba19e54': 429.50957875457857,
 '0b1db597d3': 553.0679646017695,
 '0b25a10a76': 273.38861290322615,
 '0b2a920846': 420.84815920398023,
 '0b311db177': 483.3856066945609,
 '0b37e35e9c': 368.9853255208333,
 '0b39569064': 511.3862483487453,
 '0b3c6011a9': 341.31336426914146,
 '0b40b59690': 542.2548675914253,
 '0b42c33a61': 1143.472640949554,
 '0b44fec064': 426.6827365728903,
 '0b4fcb9b35': 367.75415625000016,

In [7]:
%%time
groupedby_store = data.groupby(['client_id', 'store_id', 'transaction_id']).product_quantity.sum()

Wall time: 40.7 s

In [8]:
mean_product_quantity_store = groupedby_store.groupby('store_id').mean()

In [9]:
#to merge 
mean_product_quantity_store.to_dict()

{'000407ff98': 9.583098591549296,
 '00068bf003': 6.954545454545454,
 '000dc91493': 5.468944099378882,
 '000f9ad0d8': 7.768883878241263,
 '00117ce48d': 6.08062234794908,
 '0011ed3a23': 5.453175457481162,
 '0019cd2680': 5.193479801559178,
 '001b28193a': 4.978395061728395,
 '001bcfe2f4': 6.077755905511811,
 '001cc8c091': 8.45054945054945,
 '001de8b333': 8.166666666666666,
 '001f910c97': 5.815384615384615,
 '0021371f71': 7.686934023285899,
 '002d2c473c': 4.829646017699115,
 '003701b0a2': 5.048502139800285,
 '004027392b': 10.36196319018405,
 '004a8e14b8': 7.600441501103753,
 '004b4b797d': 5.57311320754717,
 '004d8a9ee0': 7.775467775467775,
 '004fe344e9': 5.207920792079208,
 '0057de7a35': 4.295918367346939,
 '005863f461': 8.251769464105157,
 '005b8b664c': 5.406207827260459,
 '005fb874b1': 5.086065573770492,
 '006104ac29': 4.217703349282297,
 '006525ed1f': 12.964684014869889,
 '006893d2da': 5.87922077922078,
 '006eee43fb': 6.101226993865031,
 '006f7e4270': 7.2023988005997,
 '006fa75a11': 9.527777777777779,
 '0073f18710': 7.811111111111111,
 '00744453af': 5.400873362445415,
 '007d5aa641': 6.862037871956717,
 '008a6f8620': 9.328554360812426,
 '0098e61557': 6.084656084656085,
 '009d45663e': 9.865771812080537,
 '009e1e1235': 7.902964959568733,
 '00a7c7af49': 7.234098360655738,
 '00af080f9a': 6.5950782997762865,
 '00af591d00': 9.246478873239436,
 '00b39be411': 6.799145299145299,
 '00b54b8e8a': 6.998194945848375,
 '00bd62536f': 10.337448559670781,
 '00bfa83512': 6.514925373134329,
 '00c49a8224': 5.919732441471572,
 '00c7318b79': 8.744913928012519,
 '00cbaa82fe': 12.568,
 '00d0918a6d': 5.351809954751131,
 '00d841f2d3': 5.391050583657588,
 '00e2c4fb54': 7.0285714285714285,
 '00f63c9f28': 6.502824858757062,
 '00fd04a8a5': 8.107142857142858,
 '0104032d9b': 5.552681992337165,
 '01041dd291': 6.878464818763327,
 '010680a3b6': 7.369653767820774,
 '010749c035': 5.543513957307061,
 '010db49e9c': 6.9071428571428575,
 '010e5ee95d': 5.722483537158984,
 '011262a964': 7.462068965517242,
 '01137be401': 4.675895765472313,
 '0114289b87': 6.289719626168225,
 '01170e4ce2': 7.885572139303482,
 '011972166b': 6.150877192982456,
 '011e1e8347': 5.306320907617504,
 '011edf9079': 7.315398886827459,
 '0120dadc2e': 4.711014176663031,
 '0132c43af5': 15.098149637972647,
 '0133103188': 9.106666666666667,
 '013312313e': 6.761682242990654,
 '013457b260': 4.569296375266524,
 '013465a697': 10.779856115107913,
 '013a253389': 8.197452229299364,
 '013b506ef6': 7.7941463414634145,
 '013d154ef4': 12.300739523418242,
 '014e7a4f49': 6.409836065573771,
 '015e82e5e0': 6.2385542168674695,
 '0163b63e08': 5.466666666666667,
 '0166564205': 8.801556420233464,
 '0166774589': 9.495297805642632,
 '016eeee5ed': 5.862937062937063,
 '0179959688': 8.419825072886297,
 '017c89b915': 5.196581196581197,
 '017d615ad0': 7.056234718826406,
 '017d7bf809': 5.169014084507042,
 '017fcffb7f': 5.482398956975228,
 '0180e324a9': 7.22258064516129,
 '01812cb9ed': 7.978468899521531,
 '0182853d95': 7.136294027565084,
 '018d873dc6': 5.844250363901019,
 '018d98c73f': 6.804642166344294,
 '0196e6a4b8': 9.968468468468469,
 '019819c954': 10.582733812949641,
 '019d874f3c': 7.996742671009772,
 '01a48d28e4': 4.270491803278689,
 '01a8fda685': 15.51643192488263,
 '01a983b533': 6.813905930470348,
 '01ac20a888': 5.981697171381032,
 '01af8cb02d': 9.103626943005182,
 '01b1a98fe1': 5.427807486631016,
 '01b324f2c3': 7.742857142857143,
 '01b5b84168': 8.73037542662116,
 '01bece7c89': 6.116772823779193,
 '01c397ce98': 6.472972972972973,
 '01c5ba3532': 8.481404958677686,
 '01cd6ff766': 6.876712328767123,
 '01cfe1aa0a': 5.2214580467675376,
 '01d026399f': 8.252252252252251,
 '01d050772c': 7.887871853546911,
 '01d3fbc297': 5.7970149253731345,
 '01d6c3d70a': 6.329545454545454,
 '01ddb6c1d8': 6.6827515400410675,
 '01e5478298': 6.718480138169257,
 '01ec6c98d7': 6.231788079470198,
 '01f0f247c4': 6.644247787610619,
 '01ffd51f8b': 6.551724137931035,
 '02034111d6': 4.87001733102253,
 '020ab25663': 5.585592011412269,
 '020b8a7aef': 8.505494505494505,
 '021a3d4293': 9.879649890590809,
 '021c3b7b61': 8.389162561576354,
 '021ddb892c': 10.720588235294118,
 '0220fc556d': 6.462882096069869,
 '022902a970': 6.249541284403669,
 '022c698418': 8.313253012048193,
 '022fbac1bf': 6.988732394366197,
 '023aa954d1': 6.779801324503311,
 '024eae3382': 7.6959183673469385,
 '0251f1051c': 6.11566265060241,
 '025c79fc04': 10.0,
 '02604d5e76': 5.473684210526316,
 '02710b90b5': 5.969184890656064,
 '027fbd8319': 6.141753998896856,
 '028910cec0': 5.182741116751269,
 '02982d2f62': 5.857142857142857,
 '029a1fdf37': 5.224935732647815,
 '02a8bda85a': 7.217125382262997,
 '02ab0e1096': 5.920195439739413,
 '02ae30671b': 6.990243902439024,
 '02af6dd0c1': 7.328571428571428,
 '02aff71e41': 8.298624754420432,
 '02b43adce0': 10.666666666666666,
 '02b5e43b5e': 7.069620253164557,
 '02b7a68b63': 5.4149414941494145,
 '02bc383df2': 6.95,
 '02c862eed0': 6.065454545454545,
 '02d255e972': 6.124756335282651,
 '02d3b61241': 7.467614533965245,
 '02e1b8ea64': 5.799256505576208,
 '02e5188977': 9.738122827346466,
 '02e96c90cd': 8.455927051671733,
 '02e9954ded': 8.375545851528384,
 '02f0156d68': 6.306532663316583,
 '02f29bca8e': 9.290625,
 '02fe13301e': 7.501824817518248,
 '02ff900368': 6.6382352941176475,
 '0305337045': 4.908291457286432,
 '030705f497': 6.736526946107785,
 '030eced38d': 7.0523255813953485,
 '030f5b5b27': 6.8612244897959185,
 '03123391d1': 7.429577464788732,
 '031607bb86': 7.103053435114504,
 '0319b9c5e8': 6.402666666666667,
 '031a227cb9': 6.742251223491028,
 '031c98a607': 4.853211009174312,
 '031f35e407': 7.050724637681159,
 '03211df641': 8.520134228187919,
 '0324379e59': 6.6181384248210025,
 '03296b9f8c': 8.41209829867675,
 '032f2ecb65': 8.636585365853659,
 '0334515028': 6.061855670103093,
 '03363beb2f': 6.80798969072165,
 '0337a0104f': 11.75,
 '033c5a3cb7': 3.489112227805695,
 '033e24919b': 4.703828828828829,
 '03449df124': 8.211554800339847,
 '0344c1de6d': 5.917613636363637,
 '0345394d8e': 8.667874396135266,
 '034cdca1b7': 6.739970282317979,
 '035bc3b043': 5.8191780821917805,
 '035ed27462': 7.716612377850163,
 '0374ed8128': 7.467567567567568,
 '0377203167': 9.56875834445928,
 '0378ca1274': 6.461038961038961,
 '037a54ec9f': 9.660749506903352,
 '038d8b2b66': 10.276887871853546,
 '038e2e9854': 8.458181818181819,
 '0399438f3b': 5.554257095158597,
 '039976a9e8': 6.249701314217443,
 '039db45b48': 6.8277310924369745,
 '03a500788d': 6.662011173184357,
 '03aadfe840': 9.231075697211155,
 '03b0245f01': 6.694779116465863,
 '03c075bdc1': 8.17191977077364,
 '03c4869129': 6.700980392156863,
 '03cda3b289': 7.287804878048781,
 '03cf2fee7d': 5.03627569528416,
 '03cf958376': 7.1420118343195265,
 '03d0125fb6': 6.039344262295082,
 '03d5f552e8': 6.007238883143743,
 '03d67cdb96': 9.234159779614325,
 '03d864845f': 4.954710144927536,
 '03da7b36d6': 5.622641509433962,
 '03df903daa': 5.592696629213483,
 '03eb173df8': 11.089965397923875,
 '03ecb0e2e0': 7.108267716535433,
 '03f4237c43': 10.251366120218579,
 '03f753c562': 8.803435114503817,
 '03ff28b8a8': 5.535911602209945,
 '0403ec5243': 8.815028901734104,
 '04043b2480': 6.1311787072243344,
 '0404520aa5': 6.028169014084507,
 '040b67c1f7': 5.840487238979119,
 '040df44cf5': 6.446895424836601,
 '040ea77d5b': 5.357414448669202,
 '04112b6ce6': 9.588489208633094,
 '041184c37f': 7.20347394540943,
 '0416e65822': 5.248407643312102,
 '0419d19db0': 9.660377358490566,
 '041d7a9546': 7.235668789808917,
 '041eb09232': 6.7579462102689485,
 '0420b4bb39': 6.614551083591332,
 '042cffe3ba': 6.100227790432802,
 '042d45123d': 7.992957746478873,
 '042ee65b2a': 7.709382151029748,
 '0440e7b8f7': 5.0125,
 '04431c1ea6': 6.32109129066107,
 '04471ad9d5': 7.705817782656421,
 '045025936c': 11.077380952380953,
 '045367eba0': 9.0,
 '0459d4fcd7': 5.661439114391144,
 '0460acbac1': 4.699088145896656,
 '0468aab280': 7.043818466353677,
 '04696e3c55': 6.137440758293839,
 '0470ee2a77': 9.740932642487047,
 '04827241ad': 7.422480620155039,
 '0482d4d107': 10.861224489795918,
 '04846a5577': 4.664092664092664,
 '048977ee3b': 8.251344086021506,
 '048aa35208': 6.827794561933535,
 '048e99e820': 8.275132275132275,
 '048fbb817e': 10.10952380952381,
 '04a19c8fb3': 2.6785714285714284,
 '04aec4cf9e': 11.237203495630462,
 '04b0d66cef': 6.014469453376206,
 '04be001d25': 5.955523672883787,
 '04c0810117': 6.840390879478828,
 '04c645a414': 5.085245901639344,
 '04ca406949': 6.998901098901099,
 '04ca9d9fa4': 6.0955710955710956,
 '04cbe47bb9': 8.385196374622357,
 '04cd0f10a2': 6.516129032258065,
 '04d10d25a8': 5.375609756097561,
 '04d2cb2531': 6.473760932944606,
 '04d336aec5': 7.4650735294117645,
 '04d4a309bb': 5.1656441717791415,
 '04d6c68305': 6.865573770491803,
 '04de9b9bc5': 9.57,
 '04e1519f66': 12.563502673796792,
 '04e162be26': 6.634069400630914,
 '04e21dcd0a': 6.714285714285714,
 '04e25103a7': 6.331838565022421,
 '04e2a5aacc': 7.826530612244898,
 '04e3394d49': 11.30406852248394,
 '04e54d0738': 10.727927927927928,
 '04e64e7a5e': 9.766467065868264,
 '04eb8dfa2e': 12.279264214046822,
 '04ecccb915': 6.074125874125874,
 '04fdfe0139': 17.7035175879397,
 '0503646c9e': 5.141472868217054,
 '050488e2fa': 4.911764705882353,
 '050c2a9985': 13.767967145790555,
 '050cdac0fc': 5.1234375,
 '051225f1dc': 6.921739130434783,
 '0512d33d9b': 8.70516717325228,
 '05242785ad': 4.995850622406639,
 '052526ef1a': 5.521514629948365,
 '0531c709db': 10.504885993485342,
 '0531c77ab2': 5.359978540772532,
 '053672b358': 4.977653631284916,
 '053a834163': 11.391304347826088,
 '0544184f30': 8.29324894514768,
 '05483d0817': 5.015320334261839,
 '054bb19dff': 8.25,
 '0554760e1e': 5.796296296296297,
 '0559c9ec6b': 6.051643192488263,
 '055b509171': 7.300824175824176,
 '055bf7558f': 6.1708253358925145,
 '055d3033c8': 12.369846878680802,
 '05678cd05a': 17.049751243781095,
 '05777f5ad8': 8.153284671532846,
 '05778f79f6': 5.593128390596745,
 '057dc5d785': 5.519350811485643,
 '057ef9076f': 6.84375,
 '058097d286': 6.634719710669078,
 '0583a374dd': 5.665711556829035,
 '05854da928': 9.068513119533527,
 '058655eca8': 6.934806629834254,
 '058657a736': 5.839607201309329,
 '058aaf8fd8': 8.793774319066149,
 '058cfaf1c9': 10.538277511961722,
 '058d55bbef': 4.372093023255814,
 '058dba5bd7': 10.152542372881356,
 '059fb53817': 5.306068601583114,
 '05aaa6788e': 9.216296296296296,
 '05b3a74c25': 8.365019011406844,
 '05b41bbc07': 5.68859649122807,
 '05b777cc93': 7.684745762711865,
 '05b836af58': 6.39568345323741,
 '05bdc81b0e': 7.1784702549575075,
 '05bf493d5f': 5.5,
 '05c0585ab3': 7.073208722741433,
 '05c1227445': 6.213910761154856,
 '05c251505d': 8.484599589322382,
 '05c2dbc6f6': 10.024390243902438,
 '05c3d67c5d': 5.951807228915663,
 '05ccef3ba4': 6.6632996632996635,
 '05d2866c43': 7.622222222222222,
 '05d48eff79': 5.882165605095541,
 '05d5e10217': 6.77683615819209,
 '05d69c9bd5': 7.943396226415095,
 '05d9954f7c': 5.1430921052631575,
 '05dc324cac': 4.488833746898263,
 '05ddefb6a8': 9.002994011976048,
 '05de709fef': 9.62907268170426,
 '05e289eccb': 6.206586826347305,
 '05eb0d6a48': 9.410204081632653,
 '05eb2c119d': 10.746268656716419,
 '05ee53734c': 8.06788990825688,
 '05f1323c7a': 11.450033534540577,
 '05f52489a6': 8.842708333333333,
 '05fa3f6a79': 6.920318725099602,
 '0609ec0ecd': 3.6735395189003435,
 '061070a3fa': 4.497630331753554,
 '061142307f': 7.177304964539007,
 '061bdb014a': 7.155502392344498,
 '061cf2e2ef': 7.853932584269663,
 '061e50daac': 6.943833943833944,
 '061f06e24f': 7.667553191489362,
 '062381af77': 7.859560067681895,
 '0630faa509': 6.442546583850931,
 '06320543c4': 6.816326530612245,
 '0635284512': 7.266339869281046,
 '0636dcc7ea': 5.465208747514911,
 '0638ebbf22': 7.7956521739130435,
 '063cfb042e': 5.400815217391305,
 '0640c1aec5': 6.447619047619048,
 '06450995ef': 7.0554455445544555,
 '064ba37f0d': 5.736666666666666,
 '064ce6bb07': 11.76923076923077,
 '064d699223': 5.518424396442185,
 '065147d4a5': 6.70383275261324,
 '06557bdc5c': 5.287878787878788,
 '06574dc870': 6.95625,
 '06652124e9': 5.253289473684211,
 '0668faa41d': 6.289106145251397,
 '06708d49f5': 6.6779324055666,
 '06712a6edb': 8.561827956989248,
 '067bb3329f': 7.373056994818653,
 '067c76b51e': 6.275132275132275,
 '0681b11846': 11.672727272727272,
 '0682f40e14': 6.260606060606061,
 '068446ca94': 7.298507462686567,
 '06853a85d8': 7.461538461538462,
 '06868a8835': 9.510416666666666,
 '068e7876ad': 8.529411764705882,
 '0699828f7c': 12.64516129032258,
 '06a239d443': 6.447010869565218,
 '06a6ab957a': 11.286096256684491,
 '06b0b3cc07': 6.738170347003154,
 '06b0bc2523': 5.954385964912281,
 '06b72945da': 7.140762463343108,
 '06c52048c3': 7.808946877912395,
 '06c7eb156f': 14.70023419203747,
 '06cf8810c5': 7.1395348837209305,
 '06d05168e4': 7.063191153238547,
 '06e5526815': 13.167832167832168,
 '06e96ae24c': 4.9837775202781,
 '06ef217948': 5.701219512195122,
 '06f612178a': 7.486175115207374,
 '06fa7126dc': 5.695059625212947,
 '06fb423925': 4.644654088050315,
 '06fc3d7288': 16.103448275862068,
 '06fca5c48f': 5.5273722627737225,
 '06fdf86893': 7.1063829787234045,
 '07038c0be1': 5.206692913385827,
 '071841dcf4': 4.6,
 '0718796be0': 4.594728171334432,
 '071b38d19d': 6.619718309859155,
 '073b1c5895': 6.400325467860049,
 '0742bf6801': 7.203821656050955,
 '07430eb209': 10.476584022038567,
 '07508e96ea': 7.19438202247191,
 '07541a0180': 7.351629502572899,
 '0758adab1b': 8.816711590296496,
 '07592e8a8d': 5.279106858054226,
 '075ee8dd8e': 4.054696789536266,
 '075fbb5d65': 5.700831024930748,
 '076bd2a058': 6.635944700460829,
 '07773579c7': 5.683333333333334,
 '0777ded455': 5.8505997818974915,
 '077ba59145': 7.033898305084746,
 '0780eda76d': 7.199832775919733,
 '078a4f4b63': 6.3034934497816595,
 '07962762a6': 8.158783783783784,
 '0797ed3bfb': 7.073842302878599,
 '079ae0ff0d': 6.744186046511628,
 '07a052e440': 9.026315789473685,
 '07a1c656bd': 8.942748091603054,
 '07a202b962': 6.933070866141732,
 '07afc7c614': 7.2377972465581975,
 '07b245ebd5': 6.746119733924612,
 '07b8511326': 7.52542372881356,
 '07bb3a7ee9': 9.71505376344086,
 '07bf3f4a7f': 6.5859375,
 '07ce71bc9e': 5.206839032527106,
 '07e46e02a4': 5.866666666666666,
 '07f160772f': 12.052258635961028,
 '080bc07ab5': 6.096774193548387,
 '08178f9f76': 11.1376953125,
 '08197a2915': 8.940251572327044,
 '08243fcd62': 16.87425149700599,
 '0827407f06': 7.327981651376147,
 '082dbc8343': 5.337868480725623,
 '0832f96c17': 6.768884892086331,
 '0835e3bfbd': 5.346613545816733,
 '0838ce5778': 8.343976777939043,
 '083b3c7f81': 8.170212765957446,
 '083ea41c4e': 8.03183023872679,
 '08406cc49f': 4.9432933478735,
 '08425da0c8': 5.636936936936937,
 '0844b2c7c9': 8.169117647058824,
 '0857d63337': 4.544987146529563,
 '085b08bf2b': 9.040745052386496,
 '0867e0525b': 5.182821118991332,
 '0873a2cc73': 8.781609195402298,
 '08759da518': 6.519621109607578,
 '087a9b4b07': 8.709511568123393,
 '087d731b83': 6.3446808510638295,
 '088025747d': 5.435897435897436,
 '088562753f': 6.260377358490566,
 '0889a19712': 5.867595818815331,
 '088d659a8c': 6.412698412698413,
 '088fd6a6a5': 5.713636363636364,
 '089137e2fe': 13.910688140556369,
 '0894633a5c': 7.352941176470588,
 '089bed53b5': 4.565022421524664,
 '08a3c0c418': 4.554002541296061,
 '08a93da5ad': 6.867992766726944,
 '08b9cc3729': 9.051020408163266,
 '08c73c22b4': 6.013245033112582,
 '08ce8e2130': 6.641625615763547,
 '08cfe9b3d8': 8.792805755395683,
 '08dd1a3b4c': 8.034920634920635,
 '08e9471ff5': 7.322033898305085,
 '08eafffccb': 6.727467811158799,
 '08f1de609c': 8.466908431550317,
 '08f9303fd3': 7.027522935779817,
 '08fed37db5': 5.66017316017316,
 '09059e099d': 6.781176470588235,
 '0908b48658': 6.655021834061135,
 '0915f04f9e': 7.562111801242236,
 '09191b87f9': 3.9248747913188646,
 '092766ad99': 6.025462962962963,
 '093aeae60f': 6.390048154093098,
 '093c672c4d': 5.020648967551622,
 '094bd8dc14': 6.438961038961039,
 '094fab10d5': 7.045454545454546,
 '09500cbd7b': 5.088054607508532,
 '0954b3d52f': 6.652564102564103,
 '095839c31a': 5.538461538461538,
 '09599bb4e6': 12.144475920679886,
 '095da6f34d': 12.802803738317756,
 '095fe09172': 7.1097410604192355,
 '0960cd7820': 5.227507755946226,
 '0965fe040e': 9.920542635658915,
 '09682ba83f': 5.43359375,
 '0968cf85ca': 9.27012987012987,
 '096988a68e': 7.7846153846153845,
 '0969d77b5f': 5.802564102564102,
 '096cd172de': 6.689655172413793,
 '09703d5fae': 6.866666666666666,
 '09733348bd': 13.703389830508474,
 '097ba1ae90': 4.769495412844036,
 '097c17e31b': 8.13420245398773,
 '098005a94c': 7.867007672634271,
 '0982904a9a': 6.69215291750503,
 '09832defca': 5.334615384615384,
 '09951902e9': 8.34020618556701,
 '099e7a75a7': 5.44141689373297,
 '099e9315d4': 7.45662100456621,
 '099f51d959': 13.006802721088436,
 '09a9ff6d42': 8.76126126126126,
 '09ab710a1f': 6.695331695331696,
 '09ac4c6e19': 8.5,
 '09af878981': 6.432301740812379,
 '09b99cc35a': 18.770491803278688,
 '09c11679c9': 6.651162790697675,
 '09c1ba1b80': 8.468864468864469,
 '09d07c38de': 11.267983074753174,
 '09d2009cfc': 6.861818181818182,
 '09d2d45a53': 8.603648424543946,
 '09d55918bc': 8.554140127388536,
 '09d5618c73': 5.771609276177091,
 '09d8f8f6f3': 5.829373650107992,
 '09de4b83d4': 4.945911949685534,
 '09e0ebfdec': 6.448863636363637,
 '09e137e8fd': 9.601489757914338,
 '09f2568bf9': 9.15673289183223,
 '09f4bd7250': 5.866847826086956,
 '09f76af65c': 9.481296758104738,
 '09f941760f': 8.146118721461187,
 '09ff1eb4d5': 6.221118012422361,
 '0a021b422b': 5.832772166105499,
 '0a03feb0d6': 9.661828737300436,
 '0a07a6a5ee': 5.731123388581952,
 '0a0bcf2d21': 5.53259949195597,
 '0a0c7ab557': 4.722518676627534,
 '0a10d8cf9c': 5.923676012461059,
 '0a140f360f': 5.884940778341794,
 '0a15426822': 12.307692307692308,
 '0a205e471a': 5.416666666666667,
 '0a2c72b0c3': 5.510471204188482,
 '0a2ceefac0': 5.887185104052574,
 '0a2ed30296': 6.746328437917223,
 '0a2f3462eb': 11.996983408748115,
 '0a34aef6ef': 5.408450704225352,
 '0a36b4c5ec': 6.794361525704809,
 '0a3a420be7': 7.497878359264498,
 '0a48bd1dc9': 7.265454545454546,
 '0a4b2f8d21': 6.631067961165049,
 '0a501c0392': 9.423580786026202,
 '0a5cb6c1ca': 4.5535390199637025,
 '0a61438b4b': 9.53125,
 '0a64b6456a': 7.677466863033874,
 '0a6d0a29be': 9.923679060665362,
 '0a72bc58b3': 6.627777777777778,
 '0a735f84d5': 7.949852507374631,
 '0a77ac9bae': 4.86697247706422,
 '0a7b5e15af': 7.9191321499013805,
 '0a85600ff5': 7.157062146892655,
 '0a913cf069': 5.351629502572899,
 '0a9adf8438': 4.38135593220339,
 '0aa8af8539': 8.024734982332156,
 '0aa8d939d5': 5.386946386946387,
 '0aa928178b': 11.248021108179419,
 '0aaad2f570': 6.166666666666667,
 '0aaff1724c': 5.7071240105540895,
 '0ab2d1c562': 6.017021276595744,
 '0ab6769948': 10.901185770750988,
 '0ab76233a5': 5.437875751503006,
 '0ac0f7c682': 6.677704194260485,
 '0ac8fc9770': 7.1183637946040035,
 '0ac9d3cc9e': 13.121621621621621,
 '0acb70d5df': 6.161425576519916,
 '0acd4d5a12': 23.577464788732396,
 '0ad06a366f': 5.844054580896686,
 '0ad1adb995': 10.462765957446809,
 '0ad3310037': 6.020639834881321,
 '0ada6b6dd6': 4.714871794871795,
 '0ada87a518': 5.808035714285714,
 '0adb2fd752': 11.445350734094617,
 '0adb8db4c6': 8.031512605042018,
 '0ae433bc70': 12.04390243902439,
 '0aeb2c361d': 7.885644768856448,
 '0af529840a': 6.424821002386635,
 '0afa23ff87': 13.473257698541328,
 '0afb0e4bf8': 5.953586497890296,
 '0aff65014b': 7.613003095975232,
 '0b06459162': 5.892857142857143,
 '0b080d09ea': 6.11522633744856,
 '0b17b4f6c3': 7.435185185185185,
 '0b1b376dca': 6.87536231884058,
 '0b1ba19e54': 7.157509157509158,
 '0b1db597d3': 8.548672566371682,
 '0b25a10a76': 5.276344086021505,
 '0b2a920846': 7.079601990049751,
 '0b311db177': 7.7866108786610875,
 '0b37e35e9c': 6.350260416666667,
 '0b39569064': 8.540290620871863,
 '0b3c6011a9': 5.993039443155452,
 '0b40b59690': 8.92686002522068,
 '0b42c33a61': 16.281899109792285,
 '0b44fec064': 6.616368286445013,
 '0b4fcb9b35': 6.0984375,
 '0b60688047': 9.915816326530612,
 '0b6e285454': 7.01937984496124,
 '0b7bd8f418': 9.1824686940966,
 '0b82e3e8f3': 7.512727272727273,
 '0b894aef06': 6.9623115577889445,
 '0b90939e28': 8.746153846153845,
 '0b91cccaa2': 7.227941176470588,
 '0b93d06eec': 6.0365535248041775,
 '0b9c92852d': 6.9504950495049505,

In [170]:
%%time
#last month transaction count 
last_30days_transactions_per_client = data[data.transaction_datetime > threshold].groupby('client_id', as_index=True).transaction_id.nunique()

Wall time: 23.1 s

In [174]:
last_30days_transactions_per_client = last_30days_transactions_per_client.reset_index().rename(columns={'transaction_id': 'last_30days_transactions_per_client'})

In [180]:
result

,client_id,age,gender,stores_count,mode_store_id,transaction_id,sum_regular_points_received,sum_express_points_received,sum_regular_points_spent,sum_express_points_spent,...,Q2_trn_sum_from_iss,Q3_trn_sum_from_iss,sum_purchase_sums,mean_purchase_sums,max_purchase_sums,min_purchase_sums,std_purchase_sums,purchase_sum_x,purchase_sum_y,purchase_sum
0,000012768d,45,U,3,017c89b915,4,392.7,0.0,0.0,0.0,...,689.5,854.75,2803.00,700.750000,1007.00,419.00,258.000484,535.250,688.50,854.00
1,000036f903,72,F,5,6381a55c22,32,348.3,360.0,0.0,0.0,...,266.5,438.00,9805.00,306.406250,700.00,58.00,161.780987,206.500,267.00,436.75
2,000048b7a6,68,F,2,1a01e2a7d8,8,218.8,0.0,0.0,0.0,...,401.0,480.75,3772.00,471.500000,1204.00,113.00,327.558065,320.000,400.50,516.50
3,000073194a,60,F,1,9e8fcd116d,17,518.8,0.0,-576.0,0.0,...,480.0,796.00,9601.40,564.788235,1728.75,130.84,410.462412,267.970,479.00,796.00
4,00007c7133,67,U,2,01ec6c98d7,11,459.7,0.0,-1680.0,0.0,...,381.0,829.00,6719.84,610.894545,1043.84,319.00,284.195416,358.500,551.00,827.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
400157,fffece623e,67,U,3,75156f2a80,24,287.8,0.0,-544.0,0.0,...,199.5,344.00,6530.01,272.083750,810.00,29.00,185.307607,152.220,198.91,343.00
400158,ffff3dfff8,56,F,1,3465db4011,17,1040.7,0.0,-728.0,0.0,...,290.0,527.00,7264.84,427.343529,1426.02,15.00,330.090085,202.050,290.00,557.00
400159,ffffaab9da,23,F,1,46972d1c44,7,394.9,0.0,-66.0,0.0,...,659.0,772.50,3791.00,541.571429,866.00,221.00,290.423746,251.000,656.00,773.00
400160,ffffeb5619,62,U,2,b77dc8c2a3,7,2197.0,0.0,0.0,0.0,...,2191.0,3047.00,15226.22,2175.174286,3665.63,216.00,1250.233823,1530.235,2191.32,3046.40
400161,fffff6ce77,42,U,3,6e4faad02e,32,2142.3,0.0,-2708.0,0.0,...,426.5,772.25,18560.59,580.018438,2080.00,27.00,520.322445,198.000,426.00,828.00

In [216]:
%%time
last_30_days_product_quantity_feat = data[data.transaction_datetime > threshold] \
    .groupby(['client_id', 'transaction_id'])['product_quantity'].sum() \
    .groupby('client_id') \
    .agg(['sum', 'mean', 'max', 'min']).reset_index()

Wall time: 13.5 s

In [227]:
last_30_days_product_quantity_feat = last_30_days_product_quantity_feat.rename(columns={'sum': 'sum_last_30_days_product_quantity_feat',
                                  'mean': 'mean_last_30_days_product_quantity_feat',
                                  'max': 'max_last_30_days_product_quantity_feat',
                                  'min': 'min_last_30_days_product_quantity_feat',
                                  'std': 'std_last_30_days_product_quantity_feat'})

In [228]:
last_30_days_product_quantity_feat

,client_id,sum_last_30_days_product_quantity_feat,mean_last_30_days_product_quantity_feat,max_last_30_days_product_quantity_feat,min_last_30_days_product_quantity_feat
0,000012768d,19.0,9.500000,13.0,6.0
1,000036f903,54.0,6.000000,11.0,2.0
2,000048b7a6,8.0,4.000000,5.0,3.0
3,000073194a,46.0,6.571429,17.0,1.0
4,00007c7133,6.0,6.000000,6.0,6.0
...,...,...,...,...,...
400157,fffece623e,16.0,3.200000,4.0,2.0
400158,ffff3dfff8,54.0,9.000000,17.0,1.0
400159,ffffaab9da,32.0,16.000000,22.0,10.0
400160,ffffeb5619,79.0,13.166667,26.0,3.0
400161,fffff6ce77,55.0,4.583333,11.0,1.0

In [10]:
result = pd.read_csv('result_3.csv', index_col=0)

In [230]:
from tqdm import tqdm
def merge_all(x, y):
  for df in tqdm(y):
    x = x.merge(df, how='outer', on='client_id')
  return x
dfs_to_merge = [last_30days_purchase_sums,
                last_30days_transactions_per_client,
                last_30_days_product_quantity_feat]#product_quantity

In [231]:
result = merge_all(result, dfs_to_merge)

100%|██████████| 3/3 [00:01<00:00,  2.06it/s]

In [52]:
result.to_csv('result_3.csv')

In [29]:
result.mode_store_id.map(mean_product_quantity_store).isnull().sum()

4009

In [28]:
mean_product_quantity_store.count()

13882

In [35]:
result['diff_mean_product_quantity_total_store'] = result['mean_product_quantity'] - result['mean_product_quantity_store']

In [38]:
result['diff_mean_product_quantity_last30_store'] = result['mean_last_30_days_product_quantity_feat'] - result['mean_product_quantity_store']

In [40]:
result['mean_sums_per_store'] = result['mode_store_id'].map(mean_vals_per_store.to_dict()['mean_purchase_sum_per_store'])

In [47]:
result['diff_purchase_sums_total_store'] = result['mean_purchase_sums'] - result['mean_sums_per_store']

In [49]:
result['diff_purchase_sums_last30_store'] = result['mean_last_30days_purchase_sums'] - result['mean_sums_per_store']

In [50]:
result

,client_id,age,gender,stores_count,mode_store_id,transaction_id,sum_regular_points_received,sum_express_points_received,sum_regular_points_spent,sum_express_points_spent,...,sum_last_30_days_product_quantity_feat,mean_last_30_days_product_quantity_feat,max_last_30_days_product_quantity_feat,min_last_30_days_product_quantity_feat,mean_product_quantity_store,diff_mean_product_quantity_total_store,diff_mean_product_quantity_last30_store,mean_sums_per_store,diff_purchase_sums_total_store,diff_purchase_sums_last30_store
0,000012768d,45,U,3,017c89b915,4,392.7,0.0,0.0,0.0,...,19.0,9.500000,13.0,6.0,5.196581,8.303419,4.303419,277.829145,422.920855,333.170855
1,000036f903,72,F,5,6381a55c22,32,348.3,360.0,0.0,0.0,...,54.0,6.000000,11.0,2.0,6.235110,-0.953860,-0.235110,429.603072,-123.196822,-99.825294
2,000048b7a6,68,F,2,1a01e2a7d8,8,218.8,0.0,0.0,0.0,...,8.0,4.000000,5.0,3.0,8.475936,2.899064,-4.475936,451.454465,20.045535,-102.454465
3,000073194a,60,F,1,9e8fcd116d,17,518.8,0.0,-576.0,0.0,...,46.0,6.571429,17.0,1.0,11.588968,-4.118380,-5.017539,748.605569,-183.817334,-145.266998
4,00007c7133,67,U,2,01ec6c98d7,11,459.7,0.0,-1680.0,0.0,...,6.0,6.000000,6.0,6.0,6.231788,1.313666,-0.231788,344.526998,266.367548,35.473002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
400157,fffece623e,67,U,3,75156f2a80,24,287.8,0.0,-544.0,0.0,...,16.0,3.200000,4.0,2.0,5.423408,-0.173408,-2.223408,314.573589,-42.489839,-131.009589
400158,ffff3dfff8,56,F,1,3465db4011,17,1040.7,0.0,-728.0,0.0,...,54.0,9.000000,17.0,1.0,6.974359,0.084465,2.025641,414.295112,13.048417,65.594888
400159,ffffaab9da,23,F,1,46972d1c44,7,394.9,0.0,-66.0,0.0,...,32.0,16.000000,22.0,10.0,4.982782,8.588646,11.017218,291.860324,249.711105,266.139676
400160,ffffeb5619,62,U,2,b77dc8c2a3,7,2197.0,0.0,0.0,0.0,...,79.0,13.166667,26.0,3.0,5.686217,9.885212,7.480450,341.587439,1833.586847,1585.177561
400161,fffff6ce77,42,U,3,6e4faad02e,32,2142.3,0.0,-2708.0,0.0,...,55.0,4.583333,11.0,1.0,6.583276,1.854224,-1.999943,384.205298,195.813139,-0.788631

In [46]:
re

Index(['client_id', 'age', 'gender', 'stores_count', 'mode_store_id',
       'transaction_id', 'sum_regular_points_received',
       'sum_express_points_received', 'sum_regular_points_spent',
       'sum_express_points_spent', 'mean_regular_points_received',
       'mean_express_points_received', 'mean_regular_points_spent',
       'mean_express_points_spent', 'std_regular_points_received',
       'std_express_points_received', 'std_regular_points_spent',
       'std_express_points_spent',
       'mean_by_transaction_regular_points_received',
       'mean_by_transaction_express_points_received',
       'mean_by_transaction_regular_points_spent',
       'mean_by_transaction_express_points_spent',
       'std_by_transaction_regular_points_received',
       'std_by_transaction_express_points_received',
       'std_by_transaction_regular_points_spent',
       'std_by_transaction_express_points_spent',
       'Q1_by_transaction_regular_points_received',
       'Q1_by_transaction_express_points_received',
       'Q1_by_transaction_regular_points_spent',
       'Q1_by_transaction_express_points_spent',
       'Q2_by_transaction_regular_points_received',
       'Q2_by_transaction_express_points_received',
       'Q2_by_transaction_regular_points_spent',
       'Q2_by_transaction_express_points_spent',
       'Q3_by_transaction_regular_points_received',
       'Q3_by_transaction_express_points_received',
       'Q3_by_transaction_regular_points_spent',
       'Q3_by_transaction_express_points_spent',
       'max_by_transaction_regular_points_received',
       'max_by_transaction_express_points_received',
       'max_by_transaction_regular_points_spent',
       'max_by_transaction_express_points_spent',
       'min_by_transaction_regular_points_received',
       'min_by_transaction_express_points_received',
       'min_by_transaction_regular_points_spent',
       'min_by_transaction_express_points_spent', 'sum_product_quantity',
       'mean_product_quantity', 'max_product_quantity', 'min_product_quantity',
       'std_product_quantity', 'Q1_product_quantity', 'Q2_product_quantity',
       'Q3_product_quantity', 'sum_trn_sum_from_iss', 'mean_trn_sum_from_iss',
       'max_trn_sum_from_iss', 'min_trn_sum_from_iss', 'std_trn_sum_from_iss',
       'Q1_trn_sum_from_iss', 'Q2_trn_sum_from_iss', 'Q3_trn_sum_from_iss',
       'sum_purchase_sums', 'mean_purchase_sums', 'max_purchase_sums',
       'min_purchase_sums', 'std_purchase_sums', 'purchase_sum_x',
       'purchase_sum_y', 'purchase_sum', 'sum_last_30days_purchase_sums',
       'mean_last_30days_purchase_sums', 'max_last_30days_purchase_sums',
       'min_last_30days_purchase_sums', 'last_30days_transactions_per_client',
       'sum_last_30_days_product_quantity_feat',
       'mean_last_30_days_product_quantity_feat',
       'max_last_30_days_product_quantity_feat',
       'min_last_30_days_product_quantity_feat', 'mean_product_quantity_store',
       'diff_mean_product_quantity_total_store',
       'diff_mean_product_quantity_last30_store', 'mean_sums_per_store'],
      dtype='object')